################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LimeAcadEntry/.vs/LimeAcadEntry/v15
/LimeAcadEntry/FizzBuzz/obj/Debug
/LimeAcadEntry/FizzBuzz/bin/Debug
/LimeAcadEntry/Braces/obj/Debug
/LimeAcadEntry/Braces/bin/Debug
